@model Domain.Models.CollaboratorModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Collaborator/Views/Shared/_Layout.cshtml";
}

<h1>Create Collaborator</h1>
<div class="text-right">
    <a asp-action="index" class="btn btn-light"> <span class="fa fa-arrow-circle-left"></span> Get Back </a>
</div>

<form method="post" asp-action="Create">
    <div class="my-3 p-3 bg-white-50     rounded shadow-sm ">
        <div class="row">
            <div class="col-md-6">
                <label class="font-weight-bold" asp-for="Name"></label>
                <input asp-for="Name" class="form-control" type="text" placeholder="Type the collaborator name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="font-weight-bold" asp-for="Email"></label>
                <input asp-for="Email" class="form-control" type="text" placeholder="Type the collaborator e-mail" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <label class="font-weight-bold" asp-for="Password">Password:</label>
                <input asp-for="Password" class="form-control" type="password" placeholder="Type your password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label class="font-weight-bold" asp-for="ConfirmedPassword">Confirm Password:</label>
                <input asp-for="ConfirmedPassword" class="form-control" type="password" placeholder="Confirm your Password" />
                <span asp-validation-for="ConfirmedPassword" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label class="font-weight-bold">Collaborator Type:</label>
                <select asp-for="CollaboratorTypeId" asp-items="ViewBag.CollaboratorTypes" class="form-control">
                </select>
            </div>
        </div>


        <div class="mt-3">
            <button type="submit" class="btn btn-success"> <span class="fa fa-save"></span> Save</button>
        </div>
    </div>

</form>


