.marginInputButton {
    margin-top: 8px;
}


.formCenter {
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto
}


.field-validation-error {
    color: red;
    display: block;
}
