@model VirtualMarketPlace.Domain.Models.Product

<h2>Produto</h2>
<b>Name:</b> @Model.Name
<br />
<b>Id:</b> @Model.Id
<br />
<b>Description:</b> @Model.Description
<br />
<b>Value:</b> @Model.Value.ToString("C")
<br />
