@model Domain.Models.CategoryModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Collaborator/Views/Shared/_Layout.cshtml";
}

<h1>Create Category</h1>
<div class="text-right">
    <a asp-action="index" class="btn btn-light"> <span class="fa fa-arrow-circle-left"></span> Get Back </a>
</div>

<hr />

<form method="post" asp-action="Create">
    <div class="card">
        <div class="card-body">
            <div class="my-3 p-3 pb-4 bg-white-50 white-background rounded shadow ">
                <div class="row">
                    <div class="col-md-4">
                        <label class="font-weight-bold" asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" type="text" placeholder="Type the category name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label class="font-weight-bold" asp-for="Slug"></label>
                        <input asp-for="Slug" type="text" class="form-control" placeholder="Type the category Slug" />
                        <span asp-validation-for="Slug" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="font-weight-bold" asp-for="FatherCategoryId"></label>
                        <select asp-items="@ViewBag.Categorias" asp-for="FatherCategoryId" class="form-control">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div>
                <button type="submit" class="btn btn-success"> <span class="fa fa-save"></span> Save</button>
            </div>
        </div>
    </div>


</form>
