@model VirtualMarketPlace.Models.Client
@{
    ViewData["Title"] = "CreateUser";
}
<form asp-action="CreateUser" asp-controller="Home" method="post">
    <main role="main">
        <section class="container">
            <div class="row">
                <aside class="col-sm-6 formCenter">
                    <h3 class="subtitle-doc">
                        Client Register
                    </h3>
                    <div>
                        <div class="card">
                            <header class="card-header">
                                <a asp-controller="Home" asp-action="Login" class="float-right btn btn-outline-primary mt-1">Log in</a>
                                <h4 class="card-title mt-2">Sign up</h4>
                            </header>
                            <article class="card-body">

                                @if (TempData["MSG_S"] != null)
                                {
                                    <p class="alert alert-success">@TempData["MSG_S"]</p>
                                }
                                <div class="form-row">
                                    <div class="col form-group">

                                        <label asp-for="Name">First name:</label>
                                        <input type="text" asp-for="Name" class="form-control" placeholder="">
                                        <span asp-validation-for="Name"></span>
                                    </div>
                                    <div class="col form-group">
                                        <label asp-for="BirthDate">Birth Date:</label>
                                        <input type="text" asp-for="BirthDate" class="form-control" placeholder="">
                                        <span asp-validation-for="BirthDate"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Gender" class="d-block">Gender:</label>
                                    <label class="form-check  form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="Gender" value="M">
                                        <span class="form-check-label"> Male </span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="Gender" value="F">
                                        <span class="form-check-label"> Female</span>
                                    </label>
                                    <br />
                                    <span asp-validation-for="Gender"></span>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="CPF">CPF</label>
                                        <input type="text" asp-for="CPF" class="form-control" placeholder="">
                                        <span asp-validation-for="CPF"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="Cellphone">Cellphone</label>
                                        <input type="text" asp-for="Cellphone" class="form-control">
                                        <span asp-validation-for="Cellphone"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" asp-for="Email" class="form-control" placeholder="">
                                    <span asp-validation-for="Email"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password">Password</label>
                                    <input class="form-control" asp-for="Password" type="password">
                                    <span asp-validation-for="Password"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> Register </button>
                                </div>
                                <small class="text-muted">
                                    By clicking the 'Sign Up' button, you confirm that you
                                    accept our <br> Terms of use and Privacy Policy.
                                </small>
                            </article>
                            <div class="border-top card-body text-center">Have an account? <a asp-controller="Home" asp-action="Login">Log In</a></div>
                        </div>
                    </div>
                </aside>
            </div>
        </section>
    </main>
</form>